@define-color background-color #0d0f14;
@define-color border-color #7fbbb3;
@define-color label #d3c6aa;
@define-color image #d3c6aa;
@define-color progress #7fbbb3;

window.background,
#osd,
.osd,
swayosd-window {
    padding: 10px 20px;
    border-width: 3px;
    border-radius: 24px;
}
