@define-color foreground #d3c6aa;
@define-color background rgba(0,0,0,0.0);

* {
  background-color: @background;
  color: @foreground;
  font-weight: bold;
}

#workspaces button.active {
  color: #7fbbb3;
  background-color: rgba(0,0,0,0.0);
}

#workspaces button.active label {
  color: #7fbbb3;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #e67e80;
  background-color: rgba(0,0,0,0.0);
}
